<div class="emailoctopus-form-wrapper emailoctopus-form-default null w-screen">
  <p class="w-full justify-center text-center emailoctopus-success-message">
  </p>
  <p class="w-full justify-center text-center emailoctopus-error-message">
  </p>
  <form action="https://emailoctopus.com/lists/d71d0598-9975-11eb-a3d0-06b4694bee2a/members/embedded/1.3s/add"
        method="post"
        class="emailoctopus-form w-screen flex flex-row justify-center content-center"
        data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6">
    <div class="emailoctopus-form-row">
      <label for="field_0">
      </label>
      <input id="field_0"
             name="field_0"
             type="email"
             placeholder="Email"
             required="required"
             class="p-2 border-2 h-full"
      >
    </div>
    <div aria-hidden="true"
         class="emailoctopus-form-row-hp"
         style="position: absolute; left:-5000px;"
    >
      <input type="text"
             name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
             tabindex="-1"
             autocomplete="nope"
      >
    </div>
    <div class="emailoctopus-form-row-subscribe">
      <input type="hidden"
             name="successRedirectUrl"
      >
      <button class="p-2 h-full bg-indigo-600 text-white" type="submit">
        Subscribe
      </button>
    </div>
  </form>
</div>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-recaptcha.js">
</script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js">
</script>
