<div class="lg:w-1/4 md:w-1/2 p-4 w-full group">
    <a class="block relative h-48 rounded overflow-hidden">
        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{topic.image}}">
    </a>
    <div class="mt-4">
        <h3 class="text-indigo-600 text-xl font-bold mb-1 group-hover:underline">{{topic.title}}</h3>
        <h2 class="text-gray-400 text-lg font-light truncate">{{topic.description}}</h2>
        <div class="flex flex-row flex-wrap mt-1">
            <p>
                {% for tag in topic.tags %}
                    <div class="text-white m-1 pl-4 pr-4 rounded-full bg-indigo-600 hover:bg-indigo-900 transform hover:scale-110">
                        {{- tag -}}
                    </div>
                {% endfor %}
            </p>
        </div>
    </div>
</div>