<section class="text-gray-600 body-font">
    <div class="container px-5 pt-8 pb-12 mx-auto flex flex-wrap">
        <p class="mb-8 text-4xl flex items-start text-indigo-400 font-bold">{{ postsTitle }}</p>
        <div class="flex flex-wrap w-full">
            <div class="lg:w-3/5 md:w-3/4 md:pr-10 md:py-6">
                {% for post in posts %}
                    {% if loop.index0 < 3 %}
                        <div class="mb-8">
                            <div class="flex relative">
                                <a href="{{ post.url }}" class="text-2xl font-medium text-gray-900 title-font mb-2 truncate">{{post.data.title}}</a>
                            </div>
                            <div>
                                <h1>{{post.date | postDate}}</h1>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="lg:w-2/5 md:w-1/4 flex justify-end">
                <div class="lg:w-2/5 md:w-1/4 flex">
                    <h1 class="w-full font-bold">Other Posts</h1>
                    <ul class="w-full">
                        <li>Something something</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>