---
layout: default
permalink: "index.html"
---

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <h1 class="mb-8 text-9xl flex justify-center text-black font-black">Dylan Wu</h1>
    <p class="mb-8 text-2xl flex items-start text-black font-bold">Featured Links</p>
    <div class="-my-8 divide-y-2 divide-black">
      {% for post in blog %}
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:flex-grow">
            <a href="blog/{{post.link | slug}}" class="text-2xl font-medium text-gray-900 title-font mb-2 truncate">{{post.title}}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>