---
layout: default
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
permalink: "blog/index{% if paged.number > 1 %}-{{ paged.number }}{% endif %}.html"
---

<section>
    <div class="container mx-auto px-3 pb-12 flex flex-wrap">
        {% include "post-grid.njk" %}
        {% if collections.posts.length > site.paginate %}
            {% include "paginator.njk" %}
        {% endif %}
    </div>
</section>