---
layout: default
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
permalink: "blog/index{% if paged.number > 1 %}-{{ paged.number }}{% endif %}.html"
---

<div class="flex flex-wrap -mx-2">
    {% include "post-grid.njk" %}
</div>

{% if collections.posts.length > site.paginate %}
{% include "paginator.njk" %}
{% endif %}