---
layout: default
permalink: "index.html"
---
{# {% if hero %}
{% include "bunny-rabbit/hero.njk" %}
{% endif %} #}
{# {% include "bunny-rabbit/featured-posts.njk" %} #}

{% from 'tanner/hero.njk' import hero %}

{{ hero(site.hero_title, site.hero_description, 1, 2, "") }}

{% from 'tanner/posts-list.njk' import postsList %}

{{ postsList(site.posts_title, collections.posts) }}

{% from "tanner/projects-list.njk" import projectsList %}

{{ projectsList(site.projects_title, site.projects_description, "") }}
