<section class="text-gray-600 body-font overflow-hidden">
    <div class="container py-24 mx-auto">
        <p class="mb-12 text-4xl flex items-start text-indigo-400 font-bold">{{ title }}</p>
        <div class="-my-8 divide-y-2 divide-indigo-200">
            {% for post in posts %}
                <div class="pt-8 pb-4 flex flex-wrap md:flex-nowrap justify-between">
                    <div class="md:flex-grow">
                        <a href="{{ post.url }}" class="text-2xl font-medium text-gray-900 title-font mb-2 truncate">{{post.data.title}}</a>
                    </div>
                    <div>
                        <h1>{{post.date | postDate}}</h1>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>