<div class="relaive pt-48 sm:py-56 z-20 container mx-auto flex flex-col space-y-10 md:space-y-0 md:flex-row  xl:mb-0 relative">
    <div class="relative ">
        <h1 class="text-5xl lg:text-7xl leading-tight lg:leading-none text-gray-900 absolute z-10 -top-12 -left-2" >
            <span class="text-6xl lg:text-7xl font-bold lg:font-extrabold text-gray-900 ">Discover</span>
            <br/> the new you.</h1>
        <hr class="w-44 lg:w-80 h-8 border-8 border-indigo-400 bg-indigo-400 absolute inset-0 z-0 -top-2 lg:top-0 left-20"/>
        <div class="mt-24 lg:mt-36 flex flex-col space-y-6 sm:space-y-14 md:w-2/3 ">
            <p class="text-base leading-normal text-gray-600 w-11/12 md:w-1/2 xl:w-2/3">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <div>
                <a href="javascript:void(0)" class="text-xl font-medium leading-tight underline text-gray-900 hover:text-indigo-400">Get Started</a>
            </div>
        </div>
    </div>
    <div class="md:absolute md:right-0 md:top-0 md:max-w-md flex justify-center px-5 sm:px-0 h-full">
        <img src="https://i.ibb.co/MgYJ1Xd/pexels-anna-shvets-4588071-1-1.png" alt="A Rabbit" role="img" class=""/>
    </div>
</div>