---
layout: blank
---

{% include "tanner/nav.njk" %}
<main class="mx-7 lg:mx-6 mt-16 flex-grow">
{{ content | safe }}
</main>
{% include "footer.njk" %}
<script src="{{ '/assets/js/bundle.js' | url }}"></script>
