---
layout: base.njk
---
<div class="container">
    <header>
    </header>
    <nav class="sidebar">
        <a href='{{ "/" | url }}'>Course</a>
                {{ content | safe }}
        <a href="{{ '/about/' | url }}">About</a>
    </nav>
        
    <div class="content">
        {{ content | safe }}
    </div>
</div>
